body {
    box-sizing: border-box;
    margin: 0;
}

game-lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* stateful-client {
    display: inline-block;
    border: 1px solid grey;
} */

/* 
game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
    width: 500;
    height: 500;
    border: 1px solid black;
}  */